@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat:wght@400..700&family=Outfit:wght@100..900&family=Sixtyfour+Convergence&display=swap');

*{
  font-family: "Outfit", sans-serif;
}
@theme {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}